<!DOCTYPE html>
<html>
<head>
<title>Byte 1 Tutorial</title>
</head>
<body>
<h1>Data Pipeline Project Byte Example</h1>
<h2>Consumption of Soft Drinks per Capita by State</h2>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1eh7eDFJ3vp5BBN3yay_S-V3MscSrSxHoLRrusKKm+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=38.621389826110516&amp;lng=-95.61506942499994&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=0.48&amp;hmr=50&amp;hmw=0&amp;hml=GEOCODABLE"></iframe>
<h2>Adult Obesity Rate by State</h2>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+12x2THcpgbqHc35t_XCbFRtUZSswI-dz3tI-zjcKT+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=40.718340057392794&amp;lng=-94.73616317499994&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=0.48&amp;hmr=50&amp;hmw=0&amp;hml=GEOCODABLE"></iframe>
</body>
</html>