<!DOCTYPE html>
<html>
<head>
<title>Byte 1 Tutorial</title>
</head>
<body>
<h1>Comparing Soft Drink Consumption and Obesity Rate by State</h1>
<p>
	The purpose of this comparison is to see whether soft drink consumption and obesity are related. <br>
	<br>
	<b>Red Marks:</b> states in the top 50% in terms of soft drink consumption/obesity rate<br>
	<b>Green: </b>states in the bottom 50% in terms of soft drink consumption/obesity rate
	<br>
	<br>
	As you can see, the distribution of the red and green marks are quite consistent. Most of the red marks in both maps concentrate in the south, which means that those southern states have the highest soft drink consumption AND the hgihest obesity rates. 
	<br>
	Although further statistical analysis is needed, we can intuitively see by comparing these two maps that soft drink consumption and obesity are indeed closely related. 
</p>
<br>
<h4>Consumption of Soft Drinks Per Capita by State</h4>
<p>
	<b>Red Marks:</b> States whose soft drink per capita consumption is <b>higher</b> than the medium <br>
	<b>GreenStates whose soft drink per capita consumption is <b>lower</b> than the medium
</p>
<br>
<iframe width="600" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1eh7eDFJ3vp5BBN3yay_S-V3MscSrSxHoLRrusKKm&amp;viz=MAP&amp;h=false&amp;lat=38.621389826110516&amp;lng=-95.61506942499994&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
<br><br>
<h4>Adult Obesity Rate by State</h4>
<p>
	<b>Red Marks:</b> States whose obesity rate is <b>higher</b> than the medium <br>
	<b>Green:</b> States whose obesity rate is <b>lower</b> than the medium
</p>
<br>
<iframe width="600" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+12x2THcpgbqHc35t_XCbFRtUZSswI-dz3tI-zjcKT&amp;viz=MAP&amp;h=false&amp;lat=40.718340057392794&amp;lng=-94.73616317499994&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
</body>
</html>